<!doctype html>
<html class="no-js">
    <head>
        {{! Document Settings }}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        {{! Page Meta }}
        <title>{{@blog.title}}</title>
        <meta name="description" content="{{@blog.description}}">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="{{asset "css/styles.css"}}">
        {{ghost_head}}
    </head>
    <body class="{{body_class}}">
        <!--[if lt IE 11]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <header class="site-header">
          <img class="site-header-img" src={{@blog.cover_image}}>
        </header>
       
        {{{body}}}
        
        <footer class="main-footer">
          <div class="container clearfix">
              <a class="icon-rss" href="{{@blog.url}}/rss/" title="RSS Feed"></a>
              <p>All content copyright <a href="https://runspired.com" title="Chris Thoburn - Mountain/Ultra/Trail Runner">Chris Thoburn</a> &copy; 2014 - 2021. All rights reserved.</p>
              
          </div>
        </footer>

        {{ghost_foot}}
    </body>
</html>
